body,h1,h2,p,ul,li,a{
  margin: 0px;
padding: 0px;
}
body{
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #222;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
}
*{
  box-sizing: border-box;
}
/* Superinfo*/
.superinfo-bg{
  background: #122ab2;
  color: #fff;
}
.superinfo{
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top:10px;
}
.superinfo p, .superinfo a{
  margin: 0px 10px 10px 10px;
}
.superinfo a{
  color: #fff;
}
/* Menu */
.menu-bg{
background: #2c70ff;
}
.menu{
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.menu a{
  color: #fff;
}
.menu-logo a{
  font-size:2.25em ;
  font-weight: bold;
  margin: 0 10px;
}
.menu-nav ul{
display: flex;
flex-wrap: wrap;

}
.menu-nav a{
  display: block;
  padding: 10px;
  gap: 20px;
  font-size: 1.25em;
}
.menu-nav a:hover{
  color: #122ab2;
}